# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build
coverage/
.env*

# NX
.nx/

# Misc
*.local
*.cache

# Typescript
*.tsbuildinfo

# Others
*.tgz
tmp/